[submodule "api/auth-proto"]
	path = api/auth-proto
	url = https://github.com/go-cinch/auth-proto.git
	branch = master
[submodule "api/reason-proto"]
	path = api/reason-proto
	url = https://github.com/go-cinch/reason-proto.git
	branch = master
